<html ng-app="ether">
<title>Ethereum Mining Profitability Calculator</title>
<!-- src="//..." broke for local copies (file!), so we opted for https -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/2.0.7/bignumber.js"></script>
<script src="http://alpha61.com/ethereum.json"></script>
<script>
  angular.module('ether', ['ngResource']).config(['$controllerProvider', function($controllerProvider) {
    $controllerProvider.allowGlobals();
}]);

function EtherMiningCtrl($scope, $http, $log) {

    $scope.ethPrice = ethereumStats.priceUsd;
    $scope.netHashGH = (ethereumStats.difficulty / ethereumStats.blockTime) / 1e9;
    $scope.blockTime = ethereumStats.blockTime;
    $scope.earnings = {};

    $scope.computeProfits = function() {
        var userRatio = $scope.userHash * 1e6 / ($scope.netHashGH * 1e9);
        var blocksPerMin = 60.0 / $scope.blockTime;
        var ethPerMin = blocksPerMin * 5.0;
        $scope.earnings.min = userRatio * ethPerMin;
        $scope.earnings.hour = $scope.earnings.min * 60;
        $scope.earnings.day = $scope.earnings.hour * 24;
        $scope.earnings.week = $scope.earnings.day * 7;
        $scope.earnings.month = $scope.earnings.day * 30;
    };

    $scope.updateUserHash = function() {
        var value = $scope.userChoice;
        $scope.userHash = value;
        $scope.computeProfits();
    };
}

</script>
</head>

<body ng-controller="EtherMiningCtrl">
<div class="wrap">
  <h1>Ethereum Mining Profitability Calculator</h1>

  <p>Calculate how much Ether (ETH) <b>should</b> be mined with a specific hashrate (or GPU).</p>
<div class="cf">
<div class="split70">
  <form ng-submit="computeProfits()">
    <table>
      <tr>
        <th>Your GPU (optional)</th>
        <td>
          <select ng-model="userChoice" ng-change="updateUserHash()">
            <option value="">Choose Your GPU</option>
            <option value="23.2">AMD R9 290X - Ubuntu 10.04</option>
            <option value="22.5">AMD R9 280X - Ubuntu 14.04</option>
            <option value="12.2">AMD 7870 - Linux Mint</option>
          </select>
        </td>
      </tr>
      <tr>
        <th>Your Hashrate:</th>
        <td>
          <input type="text" ng-model="userHash" placeholder="your hashrate MH/s" ng-change="computeProfits()" /><span class="unit-label">MH/s</span>

        </td>
      </tr>
      <tr>
        <th>Network Hashrate:</th>
        <td>
          <input type="text" ng-model="netHashGH" ng-change="computeProfits()" /><span class="unit-label">GH/s</span></td>
      </tr>
      <tr>
        <th>Blocktime:</th>
        <td>
          <input type="text" ng-model="blockTime" ng-change="computeProfits()" /><span class="unit-label">seconds</span></td>
      </tr>
      <tr>
        <th>1 ETH Price:</th>
        <td>
          <input type="text" ng-model="ethPrice" ng-change="computeProfits()" /><span class="unit-label">USD</span></td>
      </tr>
    </table>
  </form>
</div>
<div class="split30">
  <h2>Notes</h2>

  <ul>
    <li>This is alpha software. Let me know if you see any bugs.</li>
    <li>Hashrate and Blocktime calculated by looking at the last 64 blocks. The price is from coinmarketcap. Data is updated
      every 10 minutes.</li>
    <li>This calculator does not take into account uncles.</li>
    <li>OMG please <a href="https://github.com/badmofo/ethereum-mining-calculator/tree/gh-pages">fork me</a> I'm the second-ugliest
      page in the world.</li>
  </ul>
</div>
</div>
<h2>Results</h2>
<table class="earnings-table">
    <thead>
      <tr>
        <th width="100">Period</th>
        <th>ETH</th>
        <th>USD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Minute</td>
        <td>{{earnings.min|number:6}}</td>
        <td>{{earnings.min*ethPrice|currency}}</td>
      </tr>
      <tr>
        <td>Hour</td>
        <td>{{earnings.hour|number:6}}</td>
        <td>{{earnings.hour*ethPrice|currency}}</td>
      </tr>
      <tr>
        <td>Day</td>
        <td>{{earnings.day|number:6}}</td>
        <td>{{earnings.day*ethPrice|currency}}</td>
      </tr>
      <tr>
        <td>Week</td>
        <td>{{earnings.week|number:6}}</td>
        <td>{{earnings.week*ethPrice|currency}}</td>
      </tr>
      <tr>
        <td>Month</td>
        <td>{{earnings.month|number:6}}</td>
        <td>{{earnings.month*ethPrice|currency}}</td>
      </tr>
    </tbody>
  </table>


  <h2>References</h2>
  <ul>
    <li><a href="https://forum.ethereum.org/discussion/2134/gpu-mining-is-out-come-and-let-us-know-of-your-bench-scores">GPU Mining Scores</a></li>
  </ul>
</div>
</body>

</html>